$blue: hsl(246, 80%, 60%);

$light_red: hsl(15, 100%, 70%); // work
$soft_blue: hsl(195, 74%, 62%); // play
$light_red: hsl(348, 100%, 68%); // study
$lime_green: hsl(145, 58%, 55%); // exercise
$violet: hsl(264, 64%, 52%); // social
$soft_orange: hsl(43, 84%, 65%); // self care

$very_dark_blue: hsl(226, 43%, 10%);
$dark_blue: hsl(235, 46%, 20%);
$desaturated_blue: hsl(235, 45%, 61%);
$pale_blue: hsl(236, 100%, 87%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  font-family: 'Rubik', sans-serif;
  background: $very_dark_blue;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: .625rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
body {
}

footer {
  display: none;
}
