@media screen and (min-width: 675px) {
  body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    width: min(90%, 110rem);
    justify-content: space-between;

    section.profile {
      width: calc(33% - .9rem);

      .profile-user {
        padding: 3.2rem 3.2rem;
        flex-direction: column;
        align-items: flex-start;

        img {
          margin-bottom: 3.2rem;
        }

        div {
          margin-left: 0;
          margin-bottom: 4rem;
          font-size: 4rem;
          font-weight: 300;
        }
      }
      .profile-options {
        padding: 1.8rem 0;
        div {
          width: 100%;
          padding: .9rem 1.8rem;
        }
      }
    }
    section.cards {
      width: calc(66% - 1.8rem);
      flex-direction: row;
      justify-content: space-between;

      div.card {
        width: min(100%, calc(50% - 1.6rem));

        .card-container {
          .data-times {
            margin-top: 1.8rem;
            align-items: flex-start;
            flex-direction: column;

            .current-time {
              margin-bottom: .9rem;
              font-size: 5rem;
            }
            .previous-time {
              font-size:1.4rem
            }
          }
        }
      }
    }
  }
}
